<div class="container">
  <h1 class="text-center">Backup Configuration</h1>
  <br>

  {{ ctrl }}

  <div class="client-table">
    <table class="table table-hover table-bordered table-striped simple-responsive-table-xs" id="client-table">
      <thead>
      <tr>
        <th class="col-md-4">IP Address</th>
        <th class="col-md-3">Creation Date</th>
        <th class="col-md-2">Source Auth</th>
        <th class="col-md-2">Destination Auth</th>
        <th class="col-md-1" style="min-width: 90px"></th>
      </tr>
      </thead>
      <tbody>
      <tbody>
      <tr class="header-p-25"
          data-ng-repeat="item in ctrl.items | filter: ctrl.filterFunc | orderBy:'ipAddress' track by item.id">
        <td title="IP Address">
          <a href ui-sref="admin.settings.teams.edit({id: item.id})" title="Edit">{{ item.ipAddress }}</a>
        </td>
        <td title="Creation Date">{{ item.createDate | date }}</td>
        <td class="center" title="Source Auth">{{ item.dstLogin }}</td>
        <td class="center" title="Destination Auth">{{ item.dstPassword }}</td>
        <td class="text-right">
        <!--  <button data-ng-if="!item.confirmed"
                  class="btn btn-sm btn-info" data-ng-click="ctrl.onResendWelcomeEmailButtonClick(item)"
                  title="Resend Welcome Email"><i class="fa fa-envelope"></i></button>
          <button data-ng-if="item.active"
                  class="btn btn-sm btn-danger" data-ng-click="ctrl.onArchiveButtonClick(item)" title="Archive"><i
            class="fa fa-times"></i></button>
          <button data-ng-if="!item.active"
                  class="btn btn-sm btn-info" data-ng-click="ctrl.onUnarchiveButtonClick(item)" title="Unarchive"><i
            class="fa fa-undo"></i></button> -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
